<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="/" class="footer-link">
          <div class="footer-image"></div>
          <span>hallo.io</span>
        </a>
      </div>

    </div>
  </div>
</footer>

<amp-install-serviceworker src="/service-worker.js?v2" layout="nodisplay"></amp-install-serviceworker>
