<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
	<meta property="og:title" content="hallo.io | Social Recruiting" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://hallo.io" />
	<meta property="og:image" content="https://hallo.io/img/logo.png" />

  <meta name="description" content="hallo.io | Social Recruiting">

  <title>hallo.io</title>
  <link rel="canonical" href="https://hallo.io">

  <link rel="manifest" href="/static/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="static/img/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="static/img/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="static/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="static/img/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="static/img/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="hallo.io"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="static/img/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="static/img/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="static/img/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="static/img/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="static/img/mstile-310x310.png" />

  <style amp-custom>
  {% include "/assets/css/main.min.css" %}
  </style>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>

  {% if doc.components %}
    {% for component in doc.components %}
    <script async custom-element="amp-{{component}}" src="https://cdn.ampproject.org/v0/amp-{{component}}-0.1.js"></script>
    {% endfor %}
  {% endif %}

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

</head>
