footer {
  padding: 25px 0 25px 0;
  background-color: $color-grey-100;

  p {
    margin: 0;
  }

  .footer-image {
//    @include sprite(logo-blue-standalone);
    margin-right: 20px;

    .rtl & {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #0371b7;

    span {
      margin-left: 10px;
    }
  }
}
