.header {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 300;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-color: $color-white;

  .container {

    @include max-screen($mobile-breakpoint) {
      // aligns the hamburger
      padding-right: 18px;
    }
  }

  &.fixed {
    transform: translateY(0%);
    transition: all .4s ease;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .left-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 20px;
    margin-left: 0;
    font-weight: 300;

    @include max-screen($mobile-breakpoint) {
      justify-content: flex-start;
      flex: 1 1 auto;
      text-align: left;
      width: auto;
      font-size: 15px;
    }

    .header-title {
      color: $color-midblue;
      padding: $header-padding $header-padding $header-padding ($header-padding + 20px);
      margin: 0;
      width: auto;
      text-transform: none;
      white-space: nowrap;

      background-image: url('/static/img/logo.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center left;

      @include max-screen($mobile-breakpoint) {
        width: auto;
        margin: 0;
      }
    }

  }

  .alt {
    padding: 00;
    text-align: right;

    display: flex;
    align-items: stretch;
    justify-content: center;

    &.right {
      font-size: 15px;
    }
  }

  .tab {
    position: relative;
    color: $color-grey-800;
    padding: 6px;
    margin: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;

    transition: .1s ease color;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 3px;
      background-color: $color-midblue;

      transition: .1s ease opacity;
      opacity: 0;
    }

    &:hover,
    &.active {
      color: $color-midblue;
    }

    &.active {
      &:after {
        opacity: 1;
      }
    }

  }

  .tab.hamburger {
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -6 24 24"><path fill="#4A4A4A" d="M0 12h18v-2H0v2M0 7h18V5H0v2M0 0v2h18V0H0"/></svg>');
    background-repeat: no-repeat;
    background-size: 30px 24px;
    background-position: center center;
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    align-self: center;
  }

  @include max-screen($mobile-breakpoint) {
    div.tab,
    .desktop {
      display: none;
    }
    .tab.hamburger {
      display: inline-block;
    }
  }

  div.tab {

    position: relative;

    > a {

      position: relative;
      top: 25px;
      color: inherit;
      text-decoration: none;
      vertical-align: top;

      &:after {
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid currentColor;
        margin-left: 5px;
        padding-bottom: 2px;
      }
    }

    > ul {
      list-style: none;
      position: absolute;
      min-width: 136px;
      top: 54px;
      left: -8px;
      text-align: left;
      opacity: 0;
      pointer-events: none;
      transform: translate(0, 10px);
      transition: 0.2s ease-out;
      z-index: 1;
      will-change: transform;

      background: #fff;
      box-shadow:
          0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12),
          0 3px 1px -2px rgba(0, 0, 0, 0.2);

      li {
        padding: 6px 14px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: inherit;

        &:hover {
          background: #f0f0f0;
        }
      }

      li.external {
        padding-right: 26px;
        a {
          background-size: 12px 12px;
          background-repeat: no-repeat;
          background-position: right 2px;
          padding-right: 16px;
        }
        &:hover {
          a {
            background-image: url(/static/img/ic_open_in_new_black.svg);
          }
        }
      }

    }

    &:hover {
      > ul {
        opacity: 1;
        pointer-events: all;
        transform: translate(0, 0);
      }
    }

  }

}

.rtl header {
  .left-nav {
    .header-title {
      padding: $header-padding ($header-padding + 20px) $header-padding $header-padding;

      @include max-screen($mobile-breakpoint) {
        width: auto;
      }

      background-position: center right;
    }
  }

  .alt.right {
    text-align: left;
  }
}
