<!DOCTYPE html>
<html ⚡{% if doc.locale.is_rtl %} dir="rtl" lang="ar"{% endif %}>
{% include "/views/partials/head.html" %}

<body class="{{doc.class}}{% if doc.locale.is_rtl %} rtl{% endif %}">

  <!-- Google Tag Manager -->
  <amp-analytics
    config="https://www.googletagmanager.com/amp.json?id=GTM-PHW9GL7&gtm.url=SOURCE_URL"
    data-credentials="include">
  </amp-analytics>

  {% set menu_doc = g.doc('/content/includes/menu.yaml', locale=doc.locale) %}
  {% with menu = menu_doc.fields.menu %}
    {% include "/views/partials/sidebar.html" %}
    {% include "/views/partials/header.html" %}
  {% endwith %}

  {% macro callout(title, type='note') -%}
  <aside class="{{ type }}">
    <strong>{{ title }}:</strong>
    <span>{{ caller() }}</span>
  </aside>
  {%- endmacro %}

  <div class="wrap">
    {% block main %}
    <div class="content">

      {{doc.html|render|safe}}

      {% include "/views/partials/footer.html" %}
    </div>
    {% endblock %}
  </div>

</body>
</html>
